<footer class="footer">
		<section class="footer-contact-info">
			<ul class="footer-contact-info-ul">
				<li>Eileen Consedine</li>
				<li>Seattle, WA 98122</li>
				<li>EConsedine@gmail.com</li>
			</ul>
		</section>
		<section class="footer-social-links">
			<ul class="footer-social-links-ul">
				<li class="footer-social-links-li">
					<a href="https://twitter.com/EyeleenSea" target="_blank">
					<h4 class="icon-social-twitter nav-ul-social-h4"></h4></a>
				</li>
				<li class="footer-social-links-li">
					<a href="https://www.instagram.com/ileen24/" target="_blank">
					<h4 class="icon-social-instagram nav-ul-social-h4"></h4></a>
				</li>
				<li class="footer-social-links-li">
					<a href="https://www.linkedin.com/in/eileen-consedine-96985b32/" target="_blank">
					<h4 class="icon-social-linkedin nav-ul-social-h4"></h4></a>
				</li>
			</ul>
		</section>
	</footer>