.tag-logo, .post-title,{
    text-align: center;
    display: block;
 }

 .tag-logo {
    margin: 40px auto;
 }

 .post-title {
    margin: 70px auto;
 }

//  .single-project-text { 
//      p {
//      padding: 20px auto;
//      }
//  }
 
 
 // .wp-block-image {
    //     margin: 0;
    //     text-align: center;
    //     display: block;

    // }

    // .wp-block-image img {
    //     width: 100%;
        
    // }

