
.single-project-button-logo {
   display: flex;
   align-items: center;
   flex-direction: column;
}
.all-projects-title {
   text-align: center;
}

.tag-logo, .post-title,{
    text-align: center;
    display: block;
 }

 .tag-logo {
    margin: 40px;
    width: 50%;
    max-width: 100px;
 }

 .post-title {
    margin-top: 40px;
    padding: 20px;
 }

 .single-project-text { 
   margin: 0 auto;
   display: block;
   text-align: center;
   padding: 0 40px;
 }

 .wp-image-51 {
   width: 100%;
}

 
@media only screen and (min-width: 768px) {

   .single-project-button-logo {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0 40px;
   }

   .button {
      margin: 40px 0;
   }

   .tag-logo {
      max-width: 150px;
      align-self: flex-end;
      margin-right: 40px;
   }

   .post-title {
      margin-top: 70px;
   }

   .single-project-text {
      margin: 40px auto;
      padding: 0 60px;
   }
}
