
.category-container {
    text-align: center;
}
.category-projects-all-projects-btn {
    display: inline-block;
    margin: 40px auto;
}

.category-image {
    display: block;
    text-align: center;
    margin: 60px auto;
    max-width: 250px;
}

.category-project {
    margin: 30px auto;
    text-align: center;
    display: block;
}

@media only screen and (min-width: 768px) {

    .category-container {
        text-align: left;
    }

    .category-projects-all-projects-btn {
        margin: 40px;
    } 
    
    .category-image {
        max-width: 300px;
    }
}