.hero-img {
	height: 100vh;
	text-align: center;
	position: relative;
	background-color: white;
}

.section-hero-text {
	margin: 0 auto;
	position: absolute;
    top: 20%;
    right: 7%;
    left: 7%;
}

.hero-h1 {
	font-size: 3.5rem;
}

.hero-text-p {
	font-size: 2rem;
    text-align: center;
    margin-top: -35px;
}

/* Intro Section */

.about-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.eileen-img {
    margin: 0;
    padding: 0;
}

.main-intro, .main-section {
	text-align: center;
}

.main-intro {
	background-color: white;
}

.main-intro-h2 {
    display: block;
    border-bottom: none;
    padding: 80px 0;
}

.main-intro-h3 {
	margin-left: auto;
	margin-right: auto;
	border: none;
	font-family: "IM Fell DW Pica", serif;
	color: #e74c3c;
}

/* Media Queries */

@media only screen and (min-width: 768px) {

    .hero-h1 {
		font-size: 4rem;
	}

	.hero-img {
		height: 100vh;
	}

	.hero-text-p {
		font-size: 3rem;
    }
    
    .about-banner {
        flex-direction: row;
    }
}



