.hero-img {
	height: 90vh;
	text-align: center;
	position: relative;
	// background-color: white;
}

.hero-h1 {
    font-size: 2.5rem;
}

.section-hero-text {
	margin: 0 auto;
	position: absolute;
    top: 25%;
    right: 7%;
    left: 7%;
}

.hero-text-p {
	font-size: 1.5rem;
    text-align: center;
    margin-top: -35px;
}

/* Projects Section */

.main-section::before {
    content: ' ';
    display: block;
    background-image: url('/assets/brick.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10; // This is pretty important.
  }

  .project-link-section {
      margin: 0 auto 40px auto;
  }

  .project-ul {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      display: flex;
      flex-wrap: inherit;
      margin-bottom: 30px;
      max-width: 800px;
      justify-content: center;
  }

  .project-li {
    background: url(/assets/pattern.png);
    color: #000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    margin: 10px;
    flex: 100%;
    text-align: center;
    transition: .65s;
  }

  .project-li-a {
    font-family: "IM Fell DW Pica", serif;
    display: block;
    font-size: 30px;
    width: 100%;
    color: #222;
    font-weight: 500;
    padding: 30% 0;
    border: 10px solid transparent;
  }

/* Intro Section */

.about-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.eileen-img {
    margin: 0;
    padding: 0;
}

.main-intro, .main-section {
	text-align: center;
}

.main-intro {
    background-color: white;
    background: url(/assets/pattern.png);
    padding-bottom: 20px;
}

.main-p {
    margin: 5%;
}

.main-intro-h2 {
    display: block;
    border-bottom: none;
    padding: 80px 0;
    margin: 0;
}

.main-intro-h3 {
	margin-left: auto;
	margin-right: auto;
	border: none;
	font-family: "IM Fell DW Pica", serif;
	color: #e74c3c;
}

/* Contact Section */

.section-contact {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-info-div {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.contact-info-ul {
    padding-left: 40px;
}

.social-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 40px auto;
}

.social-li {

    a {
        text-decoration: none;   
    }
    padding: 25px;
    font-size: 2.5rem;
    text-decoration: none;
}


/* Media Queries */

@media only screen and (min-width: 550px) {

    .hero-h1 {
        font-size: 3.5rem;
    }

    .hero-text-p {
        font-size: 1.75rem;
    }

    .project-li {
        flex: 0 0 45%;
    }

    .main-intro-h2 {
        border: none;
    }
}

@media only screen and (min-width: 768px) {

    .hero-h1 {
        font-size: 5rem;
    }

	.hero-img {
		height: 100vh;
    }
    
    .hero-text-p {
        font-size: 2.2rem;
    }
    
    .about-banner {
        flex-direction: row;
    }

    .section-contact {
        flex-direction: row;
        margin: 60px auto;
    }

    .contact-info-div {
        margin-top: 0;
    }

    .contact-info-ul {
        padding-left: 60px;
    }

    /* Hovers */

    .project-li:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
        transform: scale(1.03);

        .project-li-a {
            color: #e74c3c;
            text-decoration: underline;
            border: #e74c3c solid 10px;
        }
    }

    .social-li:hover {
        a {
            color: #ba392c;
        }
    }

    .submit-button:hover {
        background: #ba392c;
    }

}

@media only screen and (min-width: 992px) {

    .submit-button {
        font-size: 30px;
    }

}

@media only screen and (min-width: 1100px) {

    .contact-info-ul {
        padding-left: 0px;
    }

    .social-li {
        font-size: 3.5rem;
    }

}



