<main class="main-section">
  <section class="hero-img">
    <div class="section-hero-text">
      <h1 class="hero-h1">Eileen Consedine</h1>
      <p class="hero-text-p">Copywriter | Seattle, Wa</p>
    </div>
  </section>
  <section id="projects">
    <h2 class="main-projects-h2">Projects</h2>
    <div class="project-link-section row">
      <ul class="project-ul">
        <li *ngFor="let category of categories" class="project-li">
          <a class="project-li-a" [routerLink]="['/projects', category]">{{category}}</a>
        </li>
        <li class="project-li">
          <a class="project-li-a" [routerLink]="['/projects']">all projects</a>
        </li>
      </ul>
    </div>
  </section>
  <section id="about" class="main-intro">
    <div class="about-banner">
      <img class="eileen-img col-xs-12 col-md-6" src="assets/eileen.jpg"/>
      <h2 class="main-intro-h2 col-xs-12 col-md-6">About Me</h2>
    </div>
    <div class="main-p" [innerHtml]="this.aboutText[0]"></div>
  </section>
  <section id="contact" class="row">
    <section class="section-contact">
      <h2>Contact</h2>
      <form class="col-sm-6 section-contact-form" action="https://formspree.io/conseybomb@gmail.com" method="POST">
        <section>
          <label>Name:</label>
          <input type="text" name="name">
          <label>Email:</label>
          <input type="text" name="email">
          <label>Number:</label>
          <input type="text" name="number">
          <label>Message</label>
          <textarea type="text" name="message"></textarea>
        </section>
        <div class="col-xs-12">
          <button class="submit-button" type="submit" value="Send">submit</button>
        </div>
      </form>
    </section>
  </section>
</main>
<app-footer></app-footer>






