<main class="main-section">
  <section class="hero-img">
    <div class="section-hero-text">
      <h1 class="hero-h1">Eileen Consedine</h1>
      <p class="hero-text-p">Copywriter | Seattle, Wa</p>
    </div>
  </section>
  <section id="projects">
    <h2 class="main-projects-h2">Projects</h2>
    <div class="project-link-section row">
      <ul class="project-ul">
        <li *ngFor="let category of categories" class="project-li">
          <a class="project-li-a" [routerLink]="['/projects', category]">{{category}}</a>
        </li>
        <li class="project-li">
          <a class="project-li-a" [routerLink]="['/projects']">all projects</a>
        </li>
      </ul>
    </div>
  </section>
  <section id="about" class="main-intro">
    <div class="about-banner">
      <img class="eileen-img col-xs-12 col-md-6" src="assets/eileen.jpg"/>
      <h2 class="main-intro-h2 col-xs-12 col-md-6">About Me</h2>
    </div>
    <div class="main-p" [innerHtml]="this.aboutText[0]"></div>
  </section>
  <section id="contact" class="row">
    <div class="section-contact">
      <div class="contact-info-div">
        <h2>Contact</h2>
        <ul class="contact-info-ul">
            <li>Eileen Consedine</li>
            <li>Seattle, WA</li>
            <li>EConsedine@gmail.com</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="social-ul">
          <li class="social-li">
            <a href="https://twitter.com/EyeleenSea" target="_blank"> 
                <span class="icon-social-twitter"></span>
            </a>
          </li>
          <li class="social-li">
            <a href="https://twitter.com/EyeleenSea" target="_blank"> 
              <span class="icon-social-instagram"></span>
            </a>
          </li>
          <li class="social-li">
            <a href="https://twitter.com/EyeleenSea" target="_blank"> 
              <span class="icon-social-linkedin"></span>
            </a>
          </li>
        </ul> 
    
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>






