.navbar {
	align-items: flex-start;
	height: 70px;;
}

.navbar-brand {
	display: inline-flex;
	padding-top: 0;
}

.navbar-toggler {
	padding-top: 7px;
}

.logo-icon {
	height: 65px;
	width: 65px;
	margin-left: 20px;
}

.beanz-quote-container {
    align-items: flex-start;
	margin-left: -15px;
	display: inline-flex;
}

.beanz-quote {
	width: 75px;
	display: none;
}

.hamburger-bar {
	width: 45px;
	display: inherit;
	opacity: .7;
}

.nav-link {
	padding: 5px;
    font-size: 25px;
    font-family: "IM Fell DW Pica", serif;
	color: rgba($color: #222, $alpha: 1.0);
	text-align: center;
}

.navbar-collapse {
	z-index: 10000;
	background: white;
}

@media only screen and (min-width: 768px) {
	.nav-link:hover {
		color: #e74c3c;
		transition: .5s;
	}

	.navbar-brand:hover { 
		.beanz-quote {
			display: inline-flex;
		}
	}
		
	
}

@media only screen and (min-width: 992px) {

	.navbar-expand-lg {
		justify-content: space-between;
	}

	.navbar-collapse {
		flex: initial;
		margin-right: 20px;
	}

	.nav-link:hover {
		border-bottom: solid;
		padding-bottom: 2px;
	}
}