<nav class="navbar navbar-expand-lg">
<a class="navbar-brand" [routerLink]="['/']">
	<img class="logo-icon" src="assets/beanieruff.png">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<img class="hamburger-bar" src="assets/menu-line.png">
		<img class="hamburger-bar" src="assets/menu-line.png">
		<img class="hamburger-bar" src="assets/menu-line.png">
</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['/']" [fragment]="'projects'">projects</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['/']" [fragment]="'about'">about</a>
	</li>
	<li class="nav-item">
			<a class="nav-link" href="#">contact</a>
		</li>
	</ul>
</div>
</nav> 
