<main class="main-section all-category-container">
	<a class="button projects-btn" [routerLink]="['/']" [fragment]="'projects'">All Projects</a>
	<h2 class="all-projects-title">All Projects</h2>
	<ul>
		<li *ngFor="let post of displayPosts">
				<a class="project-a" [routerLink]="['/projects', post['_embedded']['wp:term'][1][0].slug, post.slug]">
					<div [innerHtml]= "post.title.rendered"></div>
					<img class="project-a-img" [src]="post['jetpack_featured_media_url']" alt="project logo"/>
				</a>
		</li>
	</ul>
</main>